body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 15px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  color: #3f3d56;
  font-weight: normal;
}

h1 strong {
  color: #ee24ff;
}

#mundo {
  margin: 64px auto;
  width: 350px;
  height: 238px;
}

#corpo {
  margin: auto;
  width: 540px;
  height: 107px;
  color: #828282;
  line-height: 22px;
}

#corpo strong {
  color: #3f3d56;
}

#baixo {
  color: #828282;
  width: 626px;
  height: 21px;
  margin: 32px auto;
}

#line {
  border: solid 1px #eceff2;
  width: 391px;
  margin: 64px auto 16px;
}

a {
  text-decoration: none;
  color: #3f3d56;
}

#footer a + a {
  margin-left: 42px;
}

#rodape {
  margin: 30px auto 60px;
}
